/* @font-face { font-family: OpenSansHebrew; src: url('../fonts/OpenSansHebrew-Regular.ttf'); }  */
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
  margin: 0;
  font-family: 'Open Sans Hebrew';
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
